# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment functions
.env

# Database
*.db
*.sqlite3
db/*.db

# IDEs
.vscode/
.idea/

# OS generic
.DS_Store
Thumbs.db

# Vosk speech recognition model
vosk-model*/

# Temporary audio files
*.ogg
*.wav
vosk-model.zip
